body {
  font-family: "Segoe UI", "Lucida Grande", Tahoma, sans-serif;
  font-size: 16px;
  color: #222;
  min-width: 740px;
  margin: 0;
  padding: 0;
}

table {
  border-collapse: collapse;
  width: 100%;
  margin-bottom: 20px;
  cursor: crosshair;
}

table, th, td {
  border: 1px solid black;
}

th, td {
  padding: 5px 10px;
}

th {
  background-color: #FF9900;
  color: white;
}

tr:hover {
  background-color: #DDD;
}

tr:nth-child(even) {
  background-color: #f2f2f2;
}

.table_wrapper {
  overflow-x: auto;
}

td.up {
  color: #33CC33;
}

td.down {
  color: #CC0000;
}
